@import "./../../../../node_modules/bootstrap/scss/functions";
@import "./../helpers/variables";
// —————————————————————— header ——————————————————————
.top-menu{
    display: flex;
    flex-direction: row;
    top: 37.5%;
    right: 1%;
    li{
        padding-left: 32px;
        a{
            color: $gray ;
        }
    }
}

// —————————————————————— footer ——————————————————————
.footer-bg{
    height: 400px;
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/exhibition-week6/alina-grubnyak-R84Oy89aNKs-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    
    .footer-title{
       display: flex;
       flex-direction: column;
       padding-bottom: 36px;
    }

    .subscribe-news{
        padding-top: 12px;
        input{
            width: 214px;
            border-radius: 4px 0px 0px 4px;
            padding: 12px;
            border: white;
            margin-right: -5px;
        }
        button{
            background-color: $pink;
            color: $white;
            border-radius: 0px 4px 4px 0px;
            padding: 12px 52px;
            border: $pink;
        }
    }
}

.footer-text{
    display: flex;
    justify-content: flex-start;
    p{
        flex-grow: 1;
    }

    ul li a{
        color: $gray;
        padding-left: 16px;

    }
}

