<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>



  <body>
    <div class="container-fluid position-relative py-20 py-lg-28">
      <h2 class="text-center text-dark-red">EXHIBINECTION</h2>
      <ul class="top-menu">
        <li class="m-ds-none">
          <a href="">Sign in</a>
        </li>
        <li class="m-ds-none">
          <a href="">Sign up</a>
        </li>
        <li>
          <a href="">
            <span class="material-icons text-black">
              confirmation_number
            </span>
          </a>
        </li>
      </ul>
    </div>

    <%- contents %>



    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>