<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>



  <body>
    <div class="container-fluid position-relative py-20 py-lg-28">
      <h2 class="text-center text-dark-red">EXHIBINECTION</h2>
      <ul class="top-menu">
        <li class="m-ds-none">
          <a href="">Sign in</a>
        </li>
        <li class="m-ds-none">
          <a href="">Sign up</a>
        </li>
        <li>
          <a href="">
            <span class="material-icons text-black">
              confirmation_number
            </span>
          </a>
        </li>
      </ul>
    </div>


    <%- contents %>
    
    
    <footer>
      <div class="container-fluid area2 footer-bg">
        <div class="footer-title">
          <h2>想收到最新消息嗎？</h2>
          <h2>快訂閱我們！</h2>
          <div class="subscribe-news">
            <input type="e-mail" placeholder="輸入您的電子信箱">
            <button>訂閱</button>
          </div>
        </div>
      </div>
    
      <div class="container-fluid area2 footer-text">
     
          <h4>EXHIBINECTION</h4>
          <p class="ps-lg-16">© 2020. All Rights Reserved.</p>
    
      
        <ul class="d-flex m-ds-none">
          <li><a href="">Sign in</a></li>
          <li><a href="">Sign up</a></li>
        </ul>
    
      </div>
    </footer>



    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
      <!-- Initialize Swiper -->
  <!-- <script type="module">
    import Swiper from 'swiper/swiper-bundle.esm.js';
    import 'swiper/swiper-bundle.css';
    var swiper = new Swiper('.swiper', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script> -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
  slidesPerView: 1,
    spaceBetween: 0,
    breakpoints: {
      768:{
        slidesPerView: 3,
        spaceBetween: 30       
      },
      576:{
        slidesPerView: 2,
        spaceBetween: 20       
      },
      375:{
        // slidesPerGroup:3,
        slidesPerView: 1,
        spaceBetween: 0      
      },
    }
});
    </script>
  </body>

</html>