.bold{
    font-weight: bold;
}
.no-border{
    border: none !important;
}
.no-bolder-bottom{
    border-bottom: none !important;
}
.ft-40{
    font-size: 40px !important;
}
.w-160{
    width: 160px !important;
}
.btn-space{
    padding: 10px 48px !important;
    width: 165px;
}



// 手機版字體大小
@media (max-width:576px){
    .ft-md-32{
        font-size: 32px;
    }
    .ft-md-22{
        font-size: 22px;
    }
    .ft-md-20{
        font-size: 20px;
    }
}